.preview {
    height: 160px;
    width: 30%;
}


.image-preview {
    max-width: 300px;
}

@media screen and (max-width:820px) {
    .input__photo {
        width: 100%;
    }

    .preview {
        width: 40%;
    }
}
