<p>Welcome <%= @resource.first_name.to_s.humanize %></p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account to Fotobook', confirmation_url(@resource, confirmation_token: @token) %></p>
