    main class="d-flex flex-column justify-content-center align-items-center w-75 m-auto mt-5"
        div class="form__title fs-1 text-primary" Fotobook Login
        div class="" =  I18n.t('devise.failure.locked')
        div Contact with admin to unlock your account
